

.c-image {
  width: 100%;
  z-index: -99999;
  mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgb(0, 0, 0));
}

.carousel{
  margin-bottom: 20px;
  margin-top: 20px;
  height:auto;
  width: 100%;
}


@media screen and (max-width:500px ) {
  .p-cards{
      display: block
    } 
}

@media (max-width: 1500px) and (min-width: 300px) {
  .carousel{
    height: auto;
  }
 
}